[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Mirrorcast
GenericName=mirrorcast
Comment=Open Source Solution to mirroring your desktop
Exec=python3 /opt/mirrorcast/applet-test.py
Terminal=false
Type=Application
Icon=/opt/mirrorcast/mirrorcast_icon.png
Categories=AudioVideo;Recorder;
StartupNotify=false
