Package: mirrorcast-lite
Version: 0.7.6b
Section: base
Priority: optional
Architecture: amd64 
Depends: python3 (>= 3.0.0), ffmpeg (>= 7:0.0.0), python3-tk (>= 3.0.0), npm (>= 3.0.0), libappindicator3-1 (>= 12.0.0), libappindicator3-dev (>= 12.0.0)
Maintainer: jwarren@ashs.school.nz
Description: Mirrorcast Client0
 Rough FOSS solution for screen mirroring.
